In [1]:
d = {} #ditionaries are defined using the '{}' brackets

In [2]:
type(d)

dict

In [8]:
# it hold objects in key & value pairs
d1 = {'name':'Ope','email':'ocosta@mail.com','number': +44707122}

In [5]:
type(d1)

dict

In [6]:
d1

{'name': 'Ope', 'email': 'ocosta@mail.com', 'number': 44707122}

In [10]:
# your keys should always be unique. if there exists same key more than once, the key will just be overwritten with lates value
d2 = {'name':'Ope','email':'ocosta@mail.com','number': +44707122,'name':'costa'}
d2

{'name': 'costa', 'email': 'ocosta@mail.com', 'number': 44707122}

In [12]:
# keys can be numeric, float,string, boolean
d3 = {'name':'Ope',12.33:'ocosta@mail.com',3: +44707122, True:1}
d3

{'name': 'Ope', 12.33: 'ocosta@mail.com', 3: 44707122, True: 1}

In [14]:
# keys cannot be special characters
d4 = {&:22}
d4

SyntaxError: invalid syntax (<ipython-input-14-19ed40e0685b>, line 2)

In [15]:
# keys cannot be lists
d4 = {[33,555]:22}
d4

TypeError: unhashable type: 'list'

In [16]:
# keys cannot be sets
d4 = {{22,4,66}:22}
d4

TypeError: unhashable type: 'set'

In [17]:
# keys cannot be dictionaries
d4 = {{'a':'name',2:'tel'}:22}
d4

TypeError: unhashable type: 'dict'

In [18]:
# keys can be tuples
d4 = {(1,4,5,77):22}
d4

{(1, 4, 5, 77): 22}

In [21]:
#values can be lists, tuples,sets, dictionaries
d6 = {'subjects':['cloud','cyber','sql'],'students':(22,13,45),'teacher':{'dapo','kola','tunde'},4:{'country':'england','club':'Chelsea'}}
d6

{'subjects': ['cloud', 'cyber', 'sql'],
 'students': (22, 13, 45),
 'teacher': {'dapo', 'kola', 'tunde'},
 4: {'country': 'england', 'club': 'Chelsea'}}

In [24]:
#adding more key & value pairs to a dictionary
d6['new_item'] = [1,2,'real']
d6

{'subjects': ['cloud', 'cyber', 'sql'],
 'students': (22, 13, 45),
 'teacher': {'dapo', 'kola', 'tunde'},
 4: {'country': 'england', 'club': 'Chelsea'},
 'new_item': [1, 2, 'real']}

In [26]:
d6['new2'] = {12,'Osasuna'}
d6

{'subjects': ['cloud', 'cyber', 'sql'],
 'students': (22, 13, 45),
 'teacher': {'dapo', 'kola', 'tunde'},
 4: {'country': 'england', 'club': 'Chelsea'},
 'new_item': [1, 2, 'real'],
 'new2': {12, 'Osasuna'}}

In [30]:
#in dictionaries, your keys act like your index
d6['new_item']

[1, 2, 'real']

In [31]:
type(d6[4])

dict

In [32]:
#if key does not exist you get an error
d6[5]

KeyError: 5

In [34]:
'new_item'.upper()

'NEW_ITEM'

In [35]:
d6

{'subjects': ['cloud', 'cyber', 'sql'],
 'students': (22, 13, 45),
 'teacher': {'dapo', 'kola', 'tunde'},
 4: {'country': 'england', 'club': 'Chelsea'},
 'new_item': [1, 2, 'real'],
 'new2': {12, 'Osasuna'}}

In [36]:
# accessing nested dictionaries using keys
d6[4]['club']

'Chelsea'

In [37]:
d6[1] = 'winner'
d6

{'subjects': ['cloud', 'cyber', 'sql'],
 'students': (22, 13, 45),
 'teacher': {'dapo', 'kola', 'tunde'},
 4: {'country': 'england', 'club': 'Chelsea'},
 'new_item': [1, 2, 'real'],
 'new2': {12, 'Osasuna'},
 1: 'winner'}

In [38]:
#removing items from dictionaries
del d6[1]
d6

{'subjects': ['cloud', 'cyber', 'sql'],
 'students': (22, 13, 45),
 'teacher': {'dapo', 'kola', 'tunde'},
 4: {'country': 'england', 'club': 'Chelsea'},
 'new_item': [1, 2, 'real'],
 'new2': {12, 'Osasuna'}}

In [39]:
d3

{'name': 'Ope', 12.33: 'ocosta@mail.com', 3: 44707122, True: 1}

In [40]:
# clearing the whole list
d3.clear()
d3

{}

In [41]:
#number of items in your dictionary
len(d6)

6

In [43]:
#extracting dictionary keys
d6.keys()

dict_keys(['subjects', 'students', 'teacher', 4, 'new_item', 'new2'])

In [44]:
#extracting dictionary values
d6.values()

dict_values([['cloud', 'cyber', 'sql'], (22, 13, 45), {'tunde', 'dapo', 'kola'}, {'country': 'england', 'club': 'Chelsea'}, [1, 2, 'real'], {12, 'Osasuna'}])

In [45]:
#converting keys to a list
list(d6.keys())

['subjects', 'students', 'teacher', 4, 'new_item', 'new2']

In [46]:
list(d6)

['subjects', 'students', 'teacher', 4, 'new_item', 'new2']

In [48]:
# extracting all objects in the dictionary
d6.items()

dict_items([('subjects', ['cloud', 'cyber', 'sql']), ('students', (22, 13, 45)), ('teacher', {'tunde', 'dapo', 'kola'}), (4, {'country': 'england', 'club': 'Chelsea'}), ('new_item', [1, 2, 'real']), ('new2', {12, 'Osasuna'})])

In [49]:
list(d6.items())

[('subjects', ['cloud', 'cyber', 'sql']),
 ('students', (22, 13, 45)),
 ('teacher', {'dapo', 'kola', 'tunde'}),
 (4, {'country': 'england', 'club': 'Chelsea'}),
 ('new_item', [1, 2, 'real']),
 ('new2', {12, 'Osasuna'})]

In [51]:
#duplicating a dictionary
d12 = d6.copy() # this is a deep copy because it holds the copy in new memory meaning changes to the original will not affect it
d12

{'subjects': ['cloud', 'cyber', 'sql'],
 'students': (22, 13, 45),
 'teacher': {'dapo', 'kola', 'tunde'},
 4: {'country': 'england', 'club': 'Chelsea'},
 'new_item': [1, 2, 'real'],
 'new2': {12, 'Osasuna'}}

In [56]:
#duplicating a dictionary
d11 = d6 # this is a shallow copy because changes to the original will affect it
d11

{'subjects': ['cloud', 'cyber', 'sql'],
 'students': (22, 13, 45),
 'teacher': {'dapo', 'kola', 'tunde'},
 4: {'country': 'england', 'club': 'Chelsea'},
 'new_item': [1, 2, 'real'],
 'new2': {12, 'Osasuna'}}

In [57]:
d6

{'subjects': ['cloud', 'cyber', 'sql'],
 'students': (22, 13, 45),
 'teacher': {'dapo', 'kola', 'tunde'},
 4: {'country': 'england', 'club': 'Chelsea'},
 'new_item': [1, 2, 'real'],
 'new2': {12, 'Osasuna'}}

In [59]:
del d6['new2']
d11

{'subjects': ['cloud', 'cyber', 'sql'],
 'students': (22, 13, 45),
 'teacher': {'dapo', 'kola', 'tunde'},
 4: {'country': 'england', 'club': 'Chelsea'},
 'new_item': [1, 2, 'real']}

In [60]:
d12

{'subjects': ['cloud', 'cyber', 'sql'],
 'students': (22, 13, 45),
 'teacher': {'dapo', 'kola', 'tunde'},
 4: {'country': 'england', 'club': 'Chelsea'},
 'new_item': [1, 2, 'real'],
 'new2': {12, 'Osasuna'}}

In [63]:
d12.pop(4) #removes key & value and returns value

KeyError: 4

In [62]:
d12

{'subjects': ['cloud', 'cyber', 'sql'],
 'students': (22, 13, 45),
 'teacher': {'dapo', 'kola', 'tunde'},
 'new_item': [1, 2, 'real'],
 'new2': {12, 'Osasuna'}}

In [64]:
d

{}

In [65]:
d.fromkeys([1,2,3],{'ope',33.3,False})

{1: {33.3, False, 'ope'}, 2: {33.3, False, 'ope'}, 3: {33.3, False, 'ope'}}

In [66]:
d

{}

In [67]:
d4

{(1, 4, 5, 77): 22}

In [68]:
d11

{'subjects': ['cloud', 'cyber', 'sql'],
 'students': (22, 13, 45),
 'teacher': {'dapo', 'kola', 'tunde'},
 4: {'country': 'england', 'club': 'Chelsea'},
 'new_item': [1, 2, 'real']}

In [70]:
#add/update key and value pairs using another dictionary
d4.update(d11)

In [71]:
d4

{(1, 4, 5, 77): 22,
 'subjects': ['cloud', 'cyber', 'sql'],
 'students': (22, 13, 45),
 'teacher': {'dapo', 'kola', 'tunde'},
 4: {'country': 'england', 'club': 'Chelsea'},
 'new_item': [1, 2, 'real']}

In [72]:
#creating a tuple from dictionaries
x =(d4,d11)
x

({(1, 4, 5, 77): 22,
  'subjects': ['cloud', 'cyber', 'sql'],
  'students': (22, 13, 45),
  'teacher': {'dapo', 'kola', 'tunde'},
  4: {'country': 'england', 'club': 'Chelsea'},
  'new_item': [1, 2, 'real']},
 {'subjects': ['cloud', 'cyber', 'sql'],
  'students': (22, 13, 45),
  'teacher': {'dapo', 'kola', 'tunde'},
  4: {'country': 'england', 'club': 'Chelsea'},
  'new_item': [1, 2, 'real']})

In [74]:
d4

{(1, 4, 5, 77): 22,
 'subjects': ['cloud', 'cyber', 'sql'],
 'students': (22, 13, 45),
 'teacher': {'dapo', 'kola', 'tunde'},
 4: {'country': 'england', 'club': 'Chelsea'},
 'new_item': [1, 2, 'real']}

In [75]:
d4['teacher']

{'dapo', 'kola', 'tunde'}

In [78]:
d4.get('teacher') # does same as above only difference is behaviour when a key passed does not exist

{'dapo', 'kola', 'tunde'}

In [79]:
d4[1]

KeyError: 1

In [81]:
d4.get(1) #notice no error

### Dictionary Comprehensions

In [82]:
# comprehension involves performing multiple actions in one line of code
{i:i*2 for i in range(1,5)}

{1: 2, 2: 4, 3: 6, 4: 8}

In [83]:
d4

{(1, 4, 5, 77): 22,
 'subjects': ['cloud', 'cyber', 'sql'],
 'students': (22, 13, 45),
 'teacher': {'dapo', 'kola', 'tunde'},
 4: {'country': 'england', 'club': 'Chelsea'},
 'new_item': [1, 2, 'real']}

In [87]:
# check if key exists
1 in d4

False

In [85]:
22 in d4

False

In [86]:
'new_item' in d4

True

In [88]:
d2 = {i:i*2 for i in range(1,8)}

In [89]:
d2

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14}

In [96]:
# print values of keys which are even
for i in d2.keys():
    if i%2 ==0:
        print(d2[i])
    else: continue

4
8
12

In [97]:
for i in d2:
    if i%2 ==0:
        print(d2[i])
    else: continue

4
8
12