In [1]:
#function which does nothing
def test():
    pass

In [2]:
# functions are created using 'def'
def test1():
    print('This is Opes first function')

In [3]:
test1()

This is Opes first function

In [4]:
a = 'ope'
a+'costa'

'opecosta'

In [5]:
# the print statement returns a nontype so this  concatenation won't work
test1() + a

This is Opes first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [6]:
# the return statement will help around this
def test2():
    return 'This is Opes first function'

In [7]:
test2() + a

'This is Opes first functionope'

In [8]:
# the rerurn statement will help around this
def test3():
    return 1,2,3,4,5

In [9]:
test3()

(1, 2, 3, 4, 5)

In [16]:
test3()[3]

4

In [17]:
test3()[-3]

3

In [10]:
type(test3())

tuple

In [11]:
type(test2())

str

In [12]:
# defining multiple variables at once
b,c,d = 1,'Yes', True

In [13]:
b

1

In [14]:
c

'Yes'

In [15]:
d

True

In [18]:
a,b,c,d,e = test3()

In [19]:
a

1

In [20]:
b

2

In [21]:
e

5

In [22]:
def test4():
    a = 3*4
    return a

In [23]:
test4()

12

In [20]:
# function which sums two numbers of your choice
def sumtest(a,b):# a and b are the arguments that you must pass to the function
    return a+b

In [21]:
sumtest(3,4)

7

In [30]:
(1,2,3,4)+(3,4,6)

(1, 2, 3, 4, 3, 4, 6)

In [31]:
sumtest([1,2,3,4,5],[2,3,4,5,6,7])

[1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 7]

In [ ]:
#you can specify the definition for the arguments

In [32]:
sumtest(b= 'Ope',a = 'costa')

'costaOpe'

In [17]:
# function  to return all numbers in a list and nested list
def numba(a):
    l = []
    if type(a) == list:
        for i in a:
            if type(i) == int or type(i) == float:
                l.append(i)
            if type(i) == list:
                for t in i:
                    if type(t) == int or type(t) == float:
                        l.append(t)
        return l
    else:
        print('please enter a list')
        
    #return l

In [14]:
numba('ope')

please enter a list

In [18]:
numba([1, 3, 'ope', 4, True, 1+2j, 'costa',[1,2.4,3], 6 ,88,'costa', [55,1-2j,'chack']])

[1, 3, 4, 1, 2.4, 3, 6, 88, 55]

In [38]:
type(l[0]) == int

True

In [24]:
# creating functions which take any amount of arguments use the asteric 
def infi(*a):
    return a

In [25]:
infi(2,3,4,5,6,7)

(2, 3, 4, 5, 6, 7)

In [28]:
infi(2,3,4,5,6,7,1.1,1+2j,[1,0,'ope'],'costa')

(2, 3, 4, 5, 6, 7, 1.1, (1+2j), [1, 0, 'ope'], 'costa')

In [29]:
def infi1(*a,b):
    return a,b

In [30]:
infi1(1,2,3,4, b= -3)

((1, 2, 3, 4), -3)

In [39]:
# function  to return all numbers in a list
def infi2(*a):
    l = []
    for i in a:
            if type(i) == int or type(i) == float:
                l.append(i)
            if type(i) == list:
                for t in i:
                    if type(t) == int or type(t) == float:
                        l.append(t)
    return l
   # else:
    #    print('please enter a list')
        
    #return l

In [40]:
infi2(2,3,4,5,6,7,1.1,1+2j,[1,0,'ope'],'costa')

[2, 3, 4, 5, 6, 7, 1.1, 1, 0]

In [41]:
# creating functions which take any amount of key and value pairs use the double asteric 
def tst(**a):
    return a

In [43]:
type(tst()) #notice this is a dictionary

dict

In [44]:
tst(a=1,b=1+2j,c= False, d= 2.2,e='Ope')

{'a': 1, 'b': (1+2j), 'c': False, 'd': 2.2, 'e': 'Ope'}

In [71]:
# function  to return list
def tst1(**t):
    for i in t:
        if type(t[i]) == list:
            print(t[i])

In [72]:
tst1(a=1,b=1+2j,c= False, d= 2.2,e='Ope',f =[1,2,3],g =['ope',1],h =6.6)

[1, 2, 3]
['ope', 1]

In [69]:
l = {'a':1, 'b':44, 'c':['ope']}
l

{'a': 1, 'b': 44, 'c': ['ope']}

In [70]:
for i in l:
    print(type(l[i]))

<class 'int'>
<class 'int'>
<class 'list'>

In [67]:
type(['ope'])

list

### Generator Functions

In [73]:
range(1,10)

range(1, 10)

In [77]:
print(range(1,10))

range(1, 10)

In [80]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

As you can see with the range function, it is created on the go and nothing is held in memory. 
This is how Generator functions work. They are particularly helpful in situations where speed/efficiency is important as you are not
holding data in memory

In [92]:
#fibonacci serires where t is numbers of fib series you want to see
def fib(t):
    a = []
    w = 0
    while w <t:
        if w<=1:
            a.append(w)
        else:
            a.append(a[w-2]+a[w-1])
        w= w+1
    return a

In [93]:
fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [100]:
#using generator functions, the keyword 'yield' is very important
def fib2(x):
    a=0
    b=1
    for i in range(x):
        yield a
        a,b = b, a+b

In [98]:
fib2(10)

In [99]:
for i in fib2(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

### Lambda Functions

In [101]:
def power(a,b):
    return a**b

In [102]:
power(2,5)

32

In [104]:
# equivalnet using lambda functions
pow = lambda a,b: a**b

In [105]:
pow(2,5)

32

In [106]:
# lambda is just shorthand function
add = lambda a,b: a+b

In [107]:
add(5,6)

11

In [109]:
maxf = lambda a,b: a if (a>b) else b

In [110]:
maxf(33,-20)

33

In [113]:
a = 'ope'
t = 0
for i in a:
    t+=1
    print(t)

1
2
3

In [114]:
len(a)

3

In [115]:
length = lambda a: len(a)

In [116]:
length('opeoluwa')

8

### Map, Reduce and Filter Functions
These are shorthand functions for defining functions easily. They are not essential as you can create functions using 'def' but they could make your code neater or shorter

It is not a necessity to know how to use lambda functions

In [4]:
def square(a):
    w = []
    if type(a) ==list:
        for i in a:
            w.append(i**2)
        return w
    else:
        return 'Please enter a valid list'

In [5]:
square(1)

'Please enter a valid list'

In [6]:
square((1,2,3))

'Please enter a valid list'

In [7]:
square([1,2,3])

[1, 4, 9]

### Map Function

This is useful if you want to perform a certain operation (which can be defined within a function) to each item in an iterable object

In [9]:
'''The map function can help you apply a function/operation to each item in an iterable object.
its inputs are a function and an iterable'''

'The map function can help you map items in an iterable object to a given function/operation.\nits inputs are a function and an iterable'

In [10]:
def sq(a):
    return a**2

In [17]:
# applying an exsting function on an iterable using the map function
map(sq,[1,2])

In [13]:
print(map(sq,[1,2]))

<map object at 0x0000015237FE8880>

In [18]:
tuple(map(sq,[1,2]))

(1, 4)

In [54]:
# using the map and lambda function together
list(map(lambda a: a**2,[3,4,5]))

[9, 16, 25]

In [20]:
# using the map and lambda function together
list(map(lambda a: a+2,[3,4,5]))

[5, 6, 7]

In [ ]:
# using the map and lambda function together
list(map(lambda a: a**2,[3,4,5]))

In [21]:
a = list(map(lambda a: a**2,[3,4,5]))
a[2]

25

In [24]:
# using the map and lambda function together
list(map(lambda a,b: a+b,[3,4,5],[5,6,7]))

[8, 10, 12]

In [25]:
c = lambda a,b: a+b

In [26]:
# using the map and lambda function together
list(map(c,[3,4,5],[5,6,7]))

[8, 10, 12]

In [16]:
tuple(map(sq,[1,2]))

(1, 4)

In [29]:
# using the map and lambda function together
list(map(lambda a: a.upper(),'opeoluwa'))

['O', 'P', 'E', 'O', 'L', 'U', 'W', 'A']

In [28]:
'ope'.upper()

'OPE'

In [66]:
# map function can be performed to more than one iterable given they have the same length
l1 = [4,5,6,7]
l2 = [2,3,4,5]
l3 = [1,2,3,4]
list(map(lambda x,y: x*y,l1,l2))

[8, 15, 24, 35]

In [67]:
list(map(lambda x,y,z: x*y+z,l1,l2,l3))

[9, 17, 27, 39]

### Reduce Function

The Reduce function is not available as out of box python function and you will need to import it from a library where it is defined.
It also takes a function and am iterable as its inputs

It always shortens an iterable collection of objects (e.g. list/tuple) to one item by performing a given operation/function to pairs within the collection where the first pair is the first 2 items and the next pair will be the result of the operation from the previous pair and the next item in the collection. This continues for every item in the iterable and the result of the final operation is returned. It is better explained with examples below

It can be useful if you want to shorten a collection of objects by doing an operation between all the items in the list e.g. 
adding all the values in (1,2,3,4)

You can also do comparisons between all the items in a list e.g. finding out the lowest or highest value in the list

In [34]:
import functools as func

In [35]:
'''Apply a function of two arguments cumulatively to the items of a sequence,
from left to right, so as to reduce the sequence to a single valuesee docstring for meaning i.e.shift+tAB'''
func.reduce(lambda x,y: x+y, [1,2,3])

6

In [36]:
def sq(a,b):
    return a**b

In [39]:
func.reduce(sq,[3,2,3])

729

Please not that based on how the reduce function has been built, it tends to work well for functions which take 2 inputs

In [57]:
# find max number in a list
l = [1,2,3]

In [42]:
w= l.sort(reverse = True)
w

In [44]:
l[0]

3

In [52]:
# function to find max number in a list
def maxi(l):
    w= l[0]
    for a in l:
        if a > w:
            w = a
    return w

In [51]:
maxi([1,22,55,1055,33,44])

1055

In [59]:
# shorter way to do above using reduce
func.reduce(lambda w,e: w if (w>e) else y, [22,1,5,4])

22

### Filter Function

This is mainly used to filter out objects in an iterable

In [65]:
# i want to see only even numbers from a list
list(filter(lambda x: x%2 == 0, [1,2,3,4,5,6,7,8,9,12,10]))

[2, 4, 6, 8, 12, 10]

Filter only takes a conditional function and one collection(e.g.list or tuple) you want to filter from

In [70]:
# return strings with a length less than 5
list(filter(lambda x: len(x) <5 , ['ope','costa','nuri','obembe','opeoluwa']))

['ope', 'nuri']