# Intro

In [1]:
print("Hello to the Programming world") # print the statement in quotes

Hello to the Programming world

In [4]:
a =1 # a is callled a variable
a

1

In [39]:
type(a) #checking the data type of a

int

In [7]:
w = 34.99
print(w)
type(w) #checking the data type of w

34.99

float

In [8]:
w

34.99

In [10]:
a1 = 'Ope' # string type
a1

'Ope'

In [12]:
type(a1)

str

In [13]:
b = True #boolean is case sensitive in python
type(b)

bool

In [14]:
b

True

In [16]:
b-1 #true =1

0

In [19]:
b2 = False # false = 0
b2

False

In [20]:
b+b2

1

In [22]:
b*b2

0

In [23]:
b2/b

0.0

In [24]:
b/b2 # remember b2 is false which is 0

ZeroDivisionError: division by zero

In [26]:
e = 1-3j 
e

(1-3j)

In [27]:
type(e) # e is a complex number

complex

In [28]:
e.real # what is the real part of e

1.0

In [30]:
e.imag # what is the imaginary part of e

-3.0

In [33]:
#multi line comments
"""this is
just for testing 
or showing how to perfrom
multiple line commenting"""
a

1

In [35]:
#multi line comments
'''this is
just for testing 
or showing how to perfrom
multiple line commenting'''
b

True

In [36]:
#certain special characters cannot be used to declare variables
£a = 3

SyntaxError: invalid character in identifier (<ipython-input-36-8bccefa0fb94>, line 2)

In [37]:
#certain special characters cannot be used to declare variables
1a = 3

SyntaxError: invalid syntax (<ipython-input-37-c5b56ab966f6>, line 2)

In [38]:
#certain special characters cannot be used to declare variables
%a = 3

UsageError: Line magic function `%a` not found.

In [40]:
a* = 1

SyntaxError: invalid syntax (<ipython-input-40-a4dcdd2dea3c>, line 1)

In [41]:
# suggested to use alphabetical characters for declaring variables or words worst case
a

1

In [43]:
b2

False

In [45]:
ao = 33
ao

33

In [46]:
a

1

In [47]:
a1

'Ope'

In [48]:
# you cannot add/concatenate numbers and  strings
a+a1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [49]:
# you would need to have the cast them to the same data type
str(a) + a1

'1Ope'

In [52]:
v ='a' + '.' + 'costa'
v

'a.costa'

In [54]:
type(v)

str

In [55]:
#to get an input from the user
i = input()

49

In [56]:
i #this was typed by me

'49'

In [57]:
type(i) #whenever you input a value it will always come in as a string unless you cast it beforehand

str

In [58]:
#casting the input from the user
i1 = int(input())

55

In [59]:
i1

55

In [60]:
type(i1)

int

### Indexes

In [70]:
s = 'Opeoluwa' # you can access indiviual elements of the string via indexing
s[0] #starting with 0 from the left (fowrard indexing) and -1 from the right (backward indexing)

'O'

In [64]:
s[-1]

'a'

In [65]:
s[4]

'l'

In [66]:
s[-4]

'l'

In [67]:
'''when accessing the variable indexes using a range you start from the index of the first number and
stop at the index before that of the end range

e.g. s[0:5] will show the letter in the index positions 0,1,2,3,4
'''

s[0:5] #when accessing the variable indexes using a range you start from the index of the first nuber

'Opeol'

In [69]:
s[-4:-1]

'luw'

In [71]:
# using a list
l = [1,2,3,0,'ope', 1+2j, 33.4, 4, True, 55, 3]

In [72]:
l

[1, 2, 3, 0, 'ope', (1+2j), 33.4, 4, True, 55, 3]

In [73]:
#using indexes
l[-5]

33.4

In [74]:
l[5]

(1+2j)

In [75]:
l[3:8]

[0, 'ope', (1+2j), 33.4, 4]

In [76]:
# you can edit the list and this is where the statement that lists are mutable comes in
l[2] = 55

In [77]:
l

[1, 2, 55, 0, 'ope', (1+2j), 33.4, 4, True, 55, 3]

In [1]:
l[11] = 2000 #this is not how to add a new itemto a list

NameError: name 'l' is not defined

In [79]:
v

'a.costa'

In [80]:
v[0]

'a'

In [83]:
'''You see that with the string object, you cannot edit it via indexes
This is what is meant by immutability'''
v[0] = e

TypeError: 'str' object does not support item assignment

# Operators

### Arithmetic Operators
These are used for perfoming arithmetic operation with numbers but may behave differenctly with strings

In [1]:
10+10 #addition

20

In [2]:
20 -10 #subtraction

10

In [3]:
20*2 #multiplication

40

In [5]:
20/10 #division

2.0

In [7]:
4%3 #modulo or remainder

1

In [9]:
2**6 #to the power of

64

In [24]:
'ope' + 'costa'

'opecosta'

In [25]:
'ope'*4

'opeopeopeope'

### Comparison Operators
Comparison Operators return a True or False value

In [10]:
1>3 #greater than

False

In [16]:
1>0

True

In [11]:
4<19 #less than

True

In [17]:
4<1

False

In [13]:
1==1 #compares what is on either side of the double equals

True

In [14]:
2==3

False

In [18]:
2!=3 # ! inverses the operator e.g. not equals

True

In [19]:
6!= 2*3

False

In [20]:
3>=1 #greater than or equal to

True

In [21]:
2<=2 #less than or equal to

True

### Logical Operators
These include: AND, OR, NOT

In [27]:
True and True

True

In [28]:
True and False

False

In [29]:
not 1

False

In [31]:
not True

False

In [32]:
True or True

True

In [33]:
False or True

True

In [34]:
1 or 1

1

In [52]:
1 & True # AND symbol

1

In [40]:
3 & False

0

In [41]:
1 or 1

1

In [54]:
1 | 1 # OR symbol

1

### Bitwise Operators
performs operations on numbers bitwise as shown below

In [42]:
bin(10) #binary operation

'0b1010'

In [43]:
23 & 3 #gives you the result of the bitwise & as shown below

3

In [46]:
a3 = bin(23)
a3

'0b10111'

In [48]:
a4 = bin(3)
a4

'0b11'

In [49]:
a3 and a4

'0b11'

In [51]:
bin(3) == (a3 and a4)

True

In [68]:
34 or 55 ## gives you the result of the bitwise OR as shown below

34

In [67]:
c3 = bin(34)
c4 = bin(55)
c3 == (c3 or c4)

True

In [70]:
~34 # equates to -(bin(34) +1) in base 10

-35

In [81]:
30 >>2 # shifts bin(30) to the right by 2 places (right shift) as shown below

7

In [72]:
bin(30)

'0b11110'

In [80]:
bin(7)

'0b111'

In [74]:
24 >>3 # shifts bin(24) to the right by 3 places (right shift)

3

In [79]:
35 << 3 # shifts bin(35) to the left by 3 places (left shift) and pads it with 0's as shown below

280

In [76]:
bin(35)

'0b100011'

In [78]:
bin(280)

'0b100011000'

### Assignment Operators

In [93]:
a5 = 5
a5

5

In [94]:
# adding 5 to a5
a5 = a5+5
a5

10

In [95]:
#adding 5 to a5
a5 = 5
a5 +=5 # a5+=5 is same as a5 = a5+5

In [91]:
a5

10

In [96]:
#subtracting 6 from w
w= 55
w-=6
w

49

# Conditionals

Indentations matter a lot when using conditionals as you could end up with errors or bugs in your code

### If Statement

In [16]:
# if statement which is similar to case statements in sql
a =5
if a> 10:
    pass
else:
    a -=3
    print(a)

2

In [18]:
# multiple conditions# if statement which is similar to case statements in sql
a = float(input())
if a> 20:
    print('a is greater than 20 currently')
elif   a < 3:
    print('a is less than 3')
else:
    print('a is greater than 3 but less than 20')

7
a is greater than 3 but less than 20

### While Loop

In [21]:
w = 20
i = 1
# while the condition is true the statements within the while loop execute 
while i < w:
    print(i)
    i +=4

1
5
9
13
17

In [30]:
# while and else 
w = 20
i = 1
# while the condition is true the statements within the while loop execute 
while i < w:
    print(i)
    i +=4
else: # only comes to or checks else statement once while loop condition is true 
    print(f'The latest value of i is {i}.')

1
5
9
13
17
The latest value of i is 21.

In [29]:
# if's within while's plus break statement
w = 20
i = 1
# while the condition is true the statements within the while loop execute 
while i < w:
    print(i)
    i +=4
    if i == 21: # condition is also checked each time the while loops
        break # this will end the loop just before the final check so the else is not executed
else:
    print(f'The latest value of i is {i}. Cheers!')

1
5
9
13
17

In [32]:
# if's within while's
w = 20
i = 1
# while the condition is true the statements within the while loop execute 
while i < w:
    #print(i)
    i +=4
    if i == 13: # condition is also checked each time the while loops
        continue # this will ignore any statements following it so in this case, goes straight back to check the while condition
    print(i)
else: # remember this is only executed following a true from the while condition 
    print(f'The latest value of i is {i}. Cheers!')

5
9
17
21
The latest value of i is 21. Cheers!

### For Loop

In [37]:
# trying out the for loop
o = 'Opecosta'
for t in o: # uses the concept of indexes when looping through o
    print(t)

O
p
e
c
o
s
t
a

In [43]:
# looping through a list
l = [1,2,3,0,'ope', 1+2j, 33.4, 4, True, 55, 3]
for v in l:
    print(v)
else: # this will only execute when the loop is completed which is why you will only see the statement once
    print(f'the list l = {l} has now been sliced successfuly')

1
2
3
0
ope
(1+2j)
33.4
4
True
55
3
the list l = [1, 2, 3, 0, 'ope', (1+2j), 33.4, 4, True, 55, 3] has now been sliced successfuly

In [ ]:
# looping through a list
l = [1,2,3,0,'ope', 1+2j, 33.4, 4, True, 55, 3]
for v in l:
    print(v)
else: # this will only execute when the loop is completed which is why you will only see the statement once
    print(f'the list l = {l} has now been sliced successfuly')

In [45]:
# if's within for loops
l = [1,2,3,0,'ope', 1+2j, 33.4, 4, True, 55, 3]
for v in l:
    print(v)
    if v == False:
        break # breaks code if above condition is True
else: # Note that this else is not linked to the above if statement
    print(f'the list l = {l} has now been sliced successfuly')

1
2
3
0

In [48]:
# if's within for loops
l = [1,2,3,0,'ope', 1+2j, 33.4, 4, True, 55, 3]
for v in l:
    print(v)
    if v == 55:
        break # breaks code if above condition is True
else: # Note that this else is not linked to the above if statement
    print(f'the list l = {l} has now been sliced successfuly')

1
2
3
0
ope
(1+2j)
33.4
4
True
55

In [51]:
 '''range function is a generator function used to genrate numbers from the lower bound given
 up and until 1 minus the upper bound
'''
l= range(0,7) # range function is a generator function used to genrate numbers from the 
l

range(0, 7)

In [53]:
l = list(range(0,7)) # when converted to a list you can see what is actually does
l

[0, 1, 2, 3, 4, 5, 6]