In [2]:
# similar to dictionaries sets are defined using '{}'
s = {1,2,3,4,5,5}
type(s)

set

In [3]:
# if you do not enter any items between the braces, it defaults to a dictionary
s = {}
type(s)

dict

In [4]:
# sets only hold unique values 
s = {1,2,3,4,5,5,66,6,6,77,77}
s

{1, 2, 3, 4, 5, 6, 66, 77}

In [5]:
# you can convert sets to lists and tuples and vice-versa
l = list(s)
l

[1, 2, 3, 4, 5, 66, 6, 77]

In [7]:
t = tuple(s)
t

(1, 2, 3, 4, 5, 66, 6, 77)

In [8]:
s = set(t)
s

{1, 2, 3, 4, 5, 6, 66, 77}

In [9]:
# lists cannot be stored inside sets because they are unhashable i.e. you can update/mutate them so they aren't fixed
s1 = {1,2,3,4,[5,6,7,8]}
s1

TypeError: unhashable type: 'list'

In [11]:
# however you can store tupled inside sets because they are hashable i.e. you cannot update/mutate them so they are fixed
s1 = {1,2,3,4,(5,6,7,8)}
s1

{(5, 6, 7, 8), 1, 2, 3, 4}

In [12]:
# python is case sensitive
s2 = {'ope','Ope',2,4,5,5}
s2

{2, 4, 5, 'Ope', 'ope'}

In [13]:
# python is case sensitive
s2 = {'ope','ope',2,4,5,5}
s2

{2, 4, 5, 'ope'}

In [15]:
#indexes don't work with sets
s2[0]

TypeError: 'set' object is not subscriptable

In [16]:
s[::-1]

TypeError: 'set' object is not subscriptable

In [18]:
#loops could help you with this
for i in s:
    print(i)

1
2
3
4
5
66
6
77

In [19]:
s

{1, 2, 3, 4, 5, 6, 66, 77}

In [20]:
# to add elements to sets
s.add('delta')
s

{1, 2, 3, 4, 5, 6, 66, 77, 'delta'}

In [21]:
#number of elements in the set
len(s)

9

In [22]:
# as per docstring it permanently removes and returns an arbitrary set element.
s.pop()

1

In [23]:
s

{2, 3, 4, 5, 6, 66, 77, 'delta'}

In [24]:
s1

{(5, 6, 7, 8), 1, 2, 3, 4}

In [35]:
# merge both sets into 1. Notice how the common elements become unique
s1.union(s)

{(5, 6, 7, 8), 1, 2, 3, 4, 5, 6, 66, 77, 'delta'}

In [34]:
# return what is common to both sets
s1.intersection(s)

{2, 3, 4}

In [33]:
# return (i.e. all elements that are in this set but not the others.)
s1.difference(s)

{(5, 6, 7, 8), 1}

In [29]:
s7 = {55,105,340}
s7

{55, 105, 340}

In [30]:
# remove all elements from set
s7.clear()

In [31]:
s7

set()

Remember you can use the fullstop and tab function to test the remaining functions you can do with sets and shift tab for theit docstring