In [2]:
t = () #tuples are stored in curly brackets

In [3]:
type(t)

tuple

In [4]:
t1 = ('o', 1,0,6,8+6j, 'costa', False)
t1

('o', 1, 0, 6, (8+6j), 'costa', False)

In [5]:
# tuples also have indexes
t1[0]

'o'

In [7]:
t1[4]

(8+6j)

In [10]:
t1[::-1] #reverse order of tuple. This is not a reassignment operation

(False, 'costa', (8+6j), 6, 0, 1, 'o')

In [11]:
t1[::-2]

(False, (8+6j), 0, 'o')

In [12]:
t1[0:4] #show me first

('o', 1, 0, 6)

In [13]:
#to see the inbuilt functions/methods for a tuple use a full stop & tab button after calling it e.g. 'x.(tab)'
t1.count('o') #to see what the function/method does press shift+tab after calling it

1

In [15]:
t1[::-1].index(0) #this is because false is stored as 0 in system memory (see below)

0

In [16]:
t1[::-1]

(False, 'costa', (8+6j), 6, 0, 1, 'o')

In [18]:
t1.count(0) # false and 0

2

In [19]:
t1

('o', 1, 0, 6, (8+6j), 'costa', False)

In [20]:
t1[0] = 55 #you cannot perform reassingment to tuple (immutability)

TypeError: 'tuple' object does not support item assignment

In [21]:
# to update the tuple you would need to first convert the tuple to a list first

In [23]:
# iterating through the tuple
for i in t1:
    print(i)

o
1
0
6
(8+6j)
costa
False

In [24]:
# iterating through the tuple
for i in t1:
    print(f'element: {i}, type: {type(i)}')

element: o, type: <class 'str'>
element: 1, type: <class 'int'>
element: 0, type: <class 'int'>
element: 6, type: <class 'int'>
element: (8+6j), type: <class 'complex'>
element: costa, type: <class 'str'>
element: False, type: <class 'bool'>

In [25]:
t1

('o', 1, 0, 6, (8+6j), 'costa', False)

In [26]:
t1*5 #replicating items of the list

('o',
 1,
 0,
 6,
 (8+6j),
 'costa',
 False,
 'o',
 1,
 0,
 6,
 (8+6j),
 'costa',
 False,
 'o',
 1,
 0,
 6,
 (8+6j),
 'costa',
 False,
 'o',
 1,
 0,
 6,
 (8+6j),
 'costa',
 False,
 'o',
 1,
 0,
 6,
 (8+6j),
 'costa',
 False)

In [35]:
y = (1,5,-9,2000,-1000,66)
y

(1, 5, -9, 2000, -1000, 66)

In [31]:
max(y)

2000

In [32]:
min(y)

-1000

In [36]:
ty = (t1,y) #tuples/lists can be stored iniside tuples
ty

(('o', 1, 0, 6, (8+6j), 'costa', False), (1, 5, -9, 2000, -1000, 66))

In [37]:
r = ['o',2,'o2']

In [38]:
e = (ty,r) #nested tuples
e

((('o', 1, 0, 6, (8+6j), 'costa', False), (1, 5, -9, 2000, -1000, 66)),
 ['o', 2, 'o2'])

In [40]:
e[1]

['o', 2, 'o2']

In [41]:
e[0][0]

('o', 1, 0, 6, (8+6j), 'costa', False)

In [42]:
e[0][0][4]

(8+6j)

In [43]:
# to delete a tuple
del e
e

NameError: name 'e' is not defined

In [44]:
# to get the number of elements in the tuple
len(t1)

7

In [45]:
t1

('o', 1, 0, 6, (8+6j), 'costa', False)

In [46]:
# to check if an element exists inside the tuple
'costa' in t1

True